@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech&display=swap');
body {
  font-family: "Share Tech", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.Invention-img{
  width: 20vw;
  height: 20vw;
}
.data-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.dataa {
  height: 43vw;
  width: 27vw;
  margin: 1vw;
  color: #ffffff;
}
.logo{
  display: flex;
  justify-content: space-between;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  width: 100vw;
  font-size: 1.5vw;
  top: 0;
  position: fixed;
}
.logo ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.nav{
  width: 50vw;
}
.logo ul li{
  width: max-content;
  color: black;
  border: 1px solid white;
  height: 2vw;
  background-color: #84bfff;
  padding: .3vw;
}
.logo ul li:hover{
  transform: scale(1.2);
}
.main-line{
  font-family: Angkor;
  font-size: 4vw;
  width: 50vw;
  /* height: 20vw; */
  color: #84bfff;
  padding-left: 2vw;
  text-shadow: 2px 2px rgb(199, 255, 246);
}
.main-line:hover{
  color: rgb(255, 255, 87);
}
.logo-img{
  width: 6vw;
  height: 5vw;
  animation: scale 2s linear infinite;
}
.center{
  text-align: center;
}
.line2{
  padding: 3vw;
  font-family: "Rajdhani", sans-serif;
  width: 40vw;
  font-size: 1.4vw;
  font-weight: 400;
}
.button{
  background-color: #90c6ff;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  margin: 2vw;
}
@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); }
  100% { transform: scale(1); }
}


.side{
  width: 20vw;
  height: 30vw;
  background-color: white;
  border-radius: 1vw;
  margin-left: 5vw;
  animation: scale 2s linear infinite;
}
.side-pic{
  width: 20vw;
  height: 25vw;
  background-color: rgb(41, 41, 41);
  border-radius: 1vw;
}
.main{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.button1{

  border: 1px solid #84bfff;
  color: #84bfff;
  margin: 2vw;
}
.info{
  display: flex;
  color: black;
  justify-content: space-between;
}
.name{
  color: black;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: center;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  color: black;
}
.side-left{
  border-right: 1px solid white;
}
.registration {
  background-color: #E9E4D0;
  color: #714E38;
  box-shadow: 5px 5px 10px 0px black;
  border-radius: 2vw;
  height: 40vw;
}

.head {
  color: #714E38;
  font-size: 4vw;
  font-weight: 600;
  border-bottom: 2px solid rgb(224, 78, 78);
}

.labels {
  color: #714E38;
  font-size: 2vw;
  font-weight: 700;
  margin: 0.5vw;
}

.enter1,
.enter2,
.enter3,
.enter4,
.enter5 {
  background-color: #382110;
  color: aliceblue;
  border: 2px solid whitesmoke;
  border-radius: 1vw;
  width: 15vw;
  height: 2vw;
  font-family: 'Noto Sans', sans-serif;
  margin-left: 12vw; 
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submitButton {
  background-color: #714E38;
  font-size: 2vw;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18vw;
}

.submitButton:hover {
  background-color: #ad7857;
}

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 5;
}

.popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 3vw;
  transform: translate(-50%, -50%);
  background-color: #E9E4D0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #714E38;
  z-index: 10;
}

@media (max-width: 600px) {
  .registration {
    height: 100vw; 
  }

  .head {
    font-size: 6vw; 
  }

  .labels {
    font-size: 4vw;
  }

  .enter1,
  .enter2,
  .enter3,
  .enter4,
  .enter5 {
    width: 80%; 
    height: 4vw; 
    margin-left: 0; 
  }

  .submitButton {
    width: 80%; 
    margin-left: 10%; 
  }

  .popup {
    font-size: 5vw; 
  }
}
